server:
  port: 8080

spring:
  data:
    mongodb:
      uri: ${MONGO_URI:mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>}

app:
  jwt:
    secret: ${JWT_SECRET:your_jwt_secret_key_here}
    expirationMs: 86400000 # 24 hours
